<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Basic Electron App</title>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>

    <body>
        <h1 id="download-header">Your data is done processing!</h1>
        <div class="button-container">
            <button class="big-button" id="download-button">Download data</button>
        </div>
        <a href="index.html"><p id="return-link">Return to home to process more data</p></a>
    </body>

</html>