<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>RoadWise</title>
        <link rel="stylesheet" href="../css/style.css"/>
        <script src="../renderer.js"></script>
    </head>

    <body>
        <h1>Application Name</h1>
        <hr>
        <form action="/processing" method="POST">
            <div class="flex-container">
                <span class="drag-upload">
                    <div>
                        <p>Drag to upload a file</p>
                        <img src="../img/upload-icon.svg" alt="Upload icon" id="upload-icon"/>
                        <p id="file-select">Or select a file</p>

                        <!-- File upload -->
                        <input type="file" id="my-data" name="filename">
                            
                    </div>   
                </span>

                <span class="options">
                    <p id="info">Select all of the micro-mobiles you would like to classify in this video.</p>

                    <label class="mmb-container">Skateboards
                        <input type="checkbox" id="skateboard-check">
                        <span class="checkmark"></span>
                    </label>

                    <label class="mmb-container">Bicycles
                        <input type="checkbox" id="bicycle-check">
                        <span class="checkmark"></span>
                    </label>

                    <label class="mmb-container">Scooters
                        <input type="checkbox" id="scooter-check">
                        <span class="checkmark"></span>
                    </label>

                    <button class="big-button" id="submit">Start classifying!</button>
                    </span>
            </div>
        </form>
    </body>
</html>