<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Basic Electron App</title>
        <link rel="stylesheet" href="../css/style.css"/>
    </head>

    <body>
        <h1>Hello World!</h1>
        <hr>

        <span class="options">
            Select all of the micro-mobiles you would like to classify in this video.
            <li>skateboards</li>
            <li>bicycles</li>
            <li>scooters</li>

            <button>Start classifying!</button>
        </span>
    </body>

</html>